**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
/installed/cmake/libraries/required/brotli.cmake
/installed/cmake/libraries/required/bzip2.cmake
/installed/cmake/libraries/required/cairo.cmake
/installed/cmake/libraries/required/cairomm.cmake
/installed/cmake/libraries/required/egl-registry.cmake
/installed/cmake/libraries/required/expat.cmake
/installed/cmake/libraries/required/fmt.cmake
/installed/cmake/libraries/required/fontconfig.cmake
/installed/cmake/libraries/required/freetype.cmake
/installed/cmake/libraries/required/gettext-libintl.cmake
/installed/cmake/libraries/required/glew.cmake
/installed/cmake/libraries/required/glfw3.cmake
/installed/cmake/libraries/required/glm.cmake
/installed/cmake/libraries/required/harfbuzz.cmake
/installed/cmake/libraries/required/libffi.cmake
/installed/cmake/libraries/required/libjpeg-turbo.cmake
/installed/cmake/libraries/required/liblzma.cmake
/installed/cmake/libraries/required/libpng.cmake
/installed/cmake/libraries/required/libsigcpp.cmake
/installed/cmake/libraries/required/libuuid.cmake
/installed/cmake/libraries/required/ms-gsl.cmake
/installed/cmake/libraries/required/pcre.cmake
/installed/cmake/libraries/required/pcre2.cmake
/installed/cmake/libraries/required/pngpp.cmake
/installed/cmake/libraries/required/vcpkg.cmake
/installed/cmake/libraries/required/zlib.cmake
/installed/Resources/Shaders/Basic/Basic.frag
/installed/Resources/Shaders/Basic/Basic.vert
/installed/Resources/Shaders/Default/Default.frag
/installed/Resources/Shaders/Default/Default.vert
/installed/Resources/Shaders/fragment/ConnectionPadFragmentShader.glsl
/installed/Resources/Shaders/fragment/SimpleFragmentShader.glsl
/installed/Resources/Shaders/fragment/WireFragmentShader.glsl
/installed/Resources/Shaders/GUI/GUI.frag
/installed/Resources/Shaders/GUI/GUI.vert
/installed/Resources/Shaders/Light/Light.frag
/installed/Resources/Shaders/Light/Light.vert
/installed/Resources/Shaders/Shadow/Shadow.frag
/installed/Resources/Shaders/Shadow/Shadow.geom
/installed/Resources/Shaders/Shadow/Shadow.vert
/installed/Resources/Shaders/vertex/ConnectionPadVertexShader.glsl
/installed/Resources/Shaders/vertex/SimpleVertexShader.glsl
/installed/Resources/Shaders/vertex/WireVertexShader.glsl
/installed/Resources/Shaders/Common.frag
/installed/Resources/Shaders/Common.h.frag
/installed/Resources/Shaders/Shaders.json
/installed/Resources/Shaders/ShadersListSchema.json
/installed/Resources/.xdp-base.cmb.db-jVNIc6
/installed/Resources/.xdp-Base.cmb.db-r1u1Re
/installed/Resources/.xdp-base.ui.cmb.db-pPFExQ
/installed/Resources/.xdp-base.ui.cmb.db-R1s5No
/installed/Resources/.xdp-base.ui.cmb-FAjqHg
/installed/Resources/.xdp-base.ui.cmb-Ge2gK8
/installed/Resources/.xdp-base.ui.cmb-LkspGl
/installed/Resources/.xdp-base.ui.cmb-T85s6T
/installed/Resources/.xdp-base.ui-SUe5Pt
/installed/Resources/.xdp-CreateOpenProject.cmb-1f3yPA
/installed/Resources/.xdp-CreateOpenProject.ui.cmb-phegGV
/installed/Resources/.xdp-CreateOpenProject.ui-xbxBTm
/installed/Resources/.xdp-createProject.ui.cmb-m1WRaJ
/installed/Resources/.xdp-createProject.ui.cmb-rwpkBH
/installed/Resources/.xdp-loading.cmb-yDNIfm
/installed/Resources/.xdp-loading.ui-4wTVIt
/installed/Resources/Base.cmb
/installed/Resources/base.ui
/installed/Resources/basic.ui
/installed/Resources/CreateOpenProject.ui
/installed/Resources/createProject.ui
/installed/Resources/style.css
/installed/sdk/1.0.0/include/EngineSDK/main/context/IContext.h
/installed/sdk/1.0.0/include/EngineSDK/main/Application.h
/installed/sdk/1.0.0/include/EngineSDK/main/DefaultApplicationSettings.h
/installed/sdk/1.0.0/include/EngineSDK/main/IApplication.h
/installed/sdk/1.0.0/include/EngineSDK/main/IApplicationSettings.h
/installed/sdk/1.0.0/include/EngineSDK/main/IWindow.h
/installed/sdk/1.0.0/include/EngineSDK/utils/Property.h
/installed/sdk/1.0.0/include/EngineUtils/utils/Logger.h
/installed/sdk/1.0.0/include/EngineUtils/utils/ReportMessage.h
/installed/sdk/1.0.0/include/EngineUtils/utils/ReportMessageFwd.h
/installed/sdk/1.0.0/include/EngineUtils/utils/Utils.h
/installed/sdk/1.0.0/include/EngineUtils/utils/UUID.h
/installed/sdk/1.0.0/lib/libGameEngine.a
/installed/sdk/1.0.0/lib/libGameEngine.so
/installed/sdk/1.0.0/lib/libGameEngineUtils.a
/installed/GameEngineUI
