[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/glTF-SDK"]
	path = submodules/glTF-SDK
	url = https://github.com/microsoft/glTF-SDK.git
